<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	<div th:replace="fragments/template :: head"></div>
	<link rel="stylesheet" th:href="@{/css/searchtvshows.css}">
	<title></title>
    </head>
    <body>
	<header th:replace="fragments/template :: header"></header>
	<main>
		<div id="search-box">
			<h2>Which show are you looking for?</h2>
			<form id="search-form" action="">
				<input type="text">
				<input type="submit" value="search" class="button">
			</form>
		</div>
		<div id="search-results">
			<h2>Results:</h2>
		</div>
	</main>
	<footer th:replace="fragments/template :: footer"></footer>
    </body>
</html>
